
img {
  height:13%;
  width: 13%;
  object-fit: contain;
}

.logo {
  position: relative;
  top: -50px;
  right: -2px; 
  bottom: -1px;
  left: -2px;
}

html { 
  background-color:black; 
}

body {
  position: relative;
  border-bottom: 8px solid #222;
  padding: 50px 5%;
  margin-bottom: 0;
}

body, html {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 500px;
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}

.capa {
  background: linear-gradient(180deg, black, rgba(255, 255, 255, 0), black);
  opacity: 0.9;
  background-size: cover;
  top: -10px;
  right: -2px; 
  bottom: -1px;
  left: -2px;
  position: absolute;
}

.type-text {
  top: 65px;
  text-align:center;
  line-height: 20px;
  font-size: 26px;
  color: white;
  position: relative;
}

.type-text1 {
  top: 68px;
  font-family: sans-serif;
  text-align:center;
  color: white;
  font-size: 25px;
  position: relative;
}

.type-text2 {
  top: 60px;
  font-family: sans-serif;
  text-align:center;
  color: white;
  font-size: 22px;
  position: relative;
}

.btn-group {
  float: right;
  top: 12px;
  display: flex;
  position: relative;
}

.btn-danger{
  justify-content: center;
  align-items: center;
  float: right;
  top: -35px;
  display: flex;
  width: 55px;
  height: 23px;
  border: 5px;
  position: relative;
  color: white;
  background: #E50914;
  border-color: #E50914;
  border-radius: 3px;
}

body {
    background-color: black;
}

.input-group {
  text-align:center;
  line-height: 40px;
  color: white;
  position: relative;
}

.form-control {
  top: 40px;
  width: 400px;
  height: 50px;
  border: 5px;
  text-align: justify;
  font-size: 13px;
  position: relative;
  color: black;
  background: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}
  
.send {
  top: 42.5px;
  width: 160px;
  height: 52.5px;
  right: 4px;
  border: 5px;
  text-align:center;
  font-size: 20px;
  position: relative;
  color: white;
  background: #E50914;
  border-color: #E50914;
}

.form-select{
  justify-content: center;
  align-items: center;
  float: right;
  top: -35px;
  right: 34px;
  display: flex;
  width: 80px;
  height: 23px;
  position: relative;
  color: white;
  background: rgba(255, 255, 255, 0);
  border-color: rgb(255, 255, 255);
  border-radius: 3px;
}

/* Adaptaciones a dispositivos */

@media (max-width: 900px){
    img {
        width: 100px;
        height: 60px;
        margin: 10px 0px 30px 10px;
    }
}

@media (max-width: 620px){
    .form-control {
      top: -20px;
      align-items: center;
      height: 45px;
      width: 100%;
    }

    .send {
      top: -5px;
      height: 40px;
      width: 42%;
      align-items: center;
      font-size: 100%;
    }

    .logo {
      top: -30px;
      left: -20px;
      height: 40px;
      width: 90%;
    }

    img {
      height: 25%;
      width: 25%;
      object-fit: contain;
    }

    .btn-danger {
      justify-content: center;
      align-items: center;
      float: right;
      top: -5px;
      display: flex;
      width: 55px;
      height: 23px;
      border: 5px;
      right: -5px;
    }

    .form-select {
      justify-content: center;
      align-items: center;
      float: right;
      top: -5px;
      right: 10px;
      display: flex;
      width: 80px;
      height: 23px;
    }

    .type-text {
      top: 5px;
      text-align: center;
      line-height: 13px;
      font-size: 13px;
    }

    .type-text1 {
      top: 18px;
      text-align: center;
      line-height: 13px;
      font-size: 19px;
    }

    .type-text2 {
      top: 5px;
      text-align: center;
      line-height: 25px;
      font-size: 28px;
    }

    body {
      position: relative;
      border-bottom: 8px solid #222;
      padding: 20px 5%;
      margin-bottom: 0;
    }
}

